#GAMEDETAIL_component {
  display: none;    /* hide on startup */
}

.GAMEDETAIL_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.GAMEDETAIL_grid_left {
  /* border: 2px solid blue; */
  padding: 10px;
}

.GAMEDETAIL_description {
  padding: 10px;
}

.GAMEDETAIL_grid_right {
  /* border: 2px solid red; */
}

#GAMEDETAIL_mainImage {
  width: 80%;
}

#GAMEDETAIL_backButton {
  margin-bottom: 10pt;
}

.GAMEDETAIL_photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.GAMEDETAIL_photos li {
  list-style-type: none;
}

.GAMEDETAIL_image {
  width: 200px;
  height: 200px;
  padding: 5px;
  border: 1px solid gray;
  margin: 5px;
  cursor: pointer;
  filter: brightness(0.7);
  transition: all 0.3s;
}

.GAMEDETAIL_image:hover {
  filter: brightness(1);
  transition: all 0.3s;
}

@media screen and (max-width: 850px) {
  .GAMEDETAIL_grid {
    grid-template-columns: 1fr;
  }
}