/*  GameResults.css  */

#GAMERESULTS_component {
  display: none;    /* hide on startup */
}

.GAMERESULTS_gamesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.GAMERESULTS_gamesList li {
  list-style-type: none;
  margin: 15px;
  cursor: pointer;
  filter: brightness(0.7);
  transition: filter 0.35s;
}

.GAMERESULTS_gamesList li:hover {
  cursor: pointer;
  filter: brightness(1);
  transition: filter 0.35s;
}