/*  SiteFooter.css  */

#SITEFOOTER_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#SITEFOOTER_card {
  background-color: var(--bgColor);
}

.SITEFOOTER_disclaimer {
  font-size: 10pt;
  color: #ffffff;
}